---
title: Music I like
permalink: '/music/index.html'
layout: layouts/_base.njk
---

<h1>Music I like</h1>

<p>This pages pulls data from my <a href="https://www.last.fm/user/harryludson">Last.fm profile</a>.</p>

<p>I wrote about this page in this blog post:<br /> <a href="https://www.larryhudson.io/music-lastfm-api-eleventy/">Adding a music page to Eleventy using the Last.fm API</a></p>

<p>This data is accurate as of {% currentDate %}.</p>

<h2 class="accent-underline">My top albums for the last week</h2>

<ul class="grid-layout smaller">
    {% for album in musicPage.album %}
    <li class="album clicky-card card-with-image">
        {% image album.imageUrl, "", [150, 300] %}
        <div>
            <em>
                <a href="https://duckduckgo.com/{{album.artist.name}} {{album.name}} album">{{album.name}}</a>
            </em>
            <br />
            {{album.artist.name}}
        </div>
    </li>
    {% endfor %}
</ul>