<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Larry Hudson{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    <meta name="twitter:url" content="{{site.baseURL}}{{page.url}}">

    <!--Schema-->
    <link rel="author" href="{{site.baseURL}}">
    <link rel="publisher" href="{{site.baseURL}}">
        
    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{site.baseURL}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:locale" content="en_AU">
    <meta property="article:author" content="{{site.baseURL}}">
    
    {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ site.description }}">
    
    <!--Schema-->
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{ site.description }}">
    
    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{ site.description }}">
    {%- endblock -%}
</head>
<body>
    <div class="container">
    <header>
        <h1>Larry Hudson</h1>
        {% include 'partials/navigation.njk' %}
    </header>
    <hr />
    <main>
    {% block content %}
    {{content|safe}}
    {% endblock %}
    </main>
    <hr />
    <footer>
    {% include 'partials/footer.njk' %}
    </footer>
    </div>
</body>
</html>