<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Larry Hudson{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    <meta name="twitter:url" content="{{site.baseURL}}{{page.url}}">
    <meta name="twitter:title" content="{% if currentPage.title %}{{currentPage.title}}{% else %}{{site.title}}{% endif %}">
    <meta name="twitter:description" content="{% if currentPage %}{{currentPage.excerpt|striptags|truncate(196)}}{% else %}{{ site.description }}{% endif %}">

    <!--Schema-->
    <link rel="author" href="{{site.baseURL}}">
    <link rel="publisher" href="{{site.baseURL}}">
    <meta itemprop="name" content="{% if currentPage.title %}{{currentPage.title}}{% else %}{{site.title}}{% endif %}">
    <meta name="description" content="{% if currentPage %}{{currentPage.excerpt|striptags|truncate(196)}}{% else %}{{ site.description }}{% endif %}">
        
    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{site.baseURL}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:locale" content="en_AU">
    <meta property="article:author" content="{{site.baseURL}}">
    <meta property="og:title" content="{% if currentPage.title %}{{currentPage.title}}{% else %}{{site.title}}{% endif %}">
    <meta property="og:description" content="{% if currentPage %}{{currentPage.excerpt|striptags|truncate(196)}}{% else %}{{ site.description }}{% endif %}">
</head>
<body{% if page.url != '/' %} class="not-homepage"{% endif %}>
    <div class="container">
    <header>
        <div class="site-title">
        <h1>{{site.title}}</h1>
        <p class="tagline">{{site.tagline}}</p>
        </div>
        {% include 'partials/navigation.njk' %}
    </header>
    <hr />
    <main>
    
    <div class="featured-image">
    {% block featuredImage %}
    {% endblock %}
    </div>

    {% block content %}
    {{content|safe}}
    {% endblock %}
    </main>
    <hr />
    <footer>
    {% include 'partials/footer.njk' %}
    </footer>
    </div>
</body>
</html>