<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Larry Hudson{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="container">
    <header>
        <h1>Larry Hudson</h1>
        {% include 'partials/navigation.njk' %}
    </header>
    <hr />
    <main>
    {% block content %}
    {{content|safe}}
    {% endblock %}
    </main>
    <hr />
    <footer>
    {% include 'partials/footer.njk' %}
    </footer>
    </div>
</body>
</html>