{% extends 'layouts/_base.njk' %}
{% set currentPage = wp.homePage %}

{% block featuredImage %}
{% image wp.homePage.featuredImage.sourceUrl, wp.homePage.featuredImage.altText %}
{% endblock %}

{% block content %}
{{content|safe}}

{% set posts = wp.posts %}
{% include 'partials/postsList.njk' %}

{% endblock %}