{% extends 'layouts/_base.njk' %}
{% set currentPage = wp.postsPage %}

{% block featuredImage %}
{% endblock %}

{% block content %}
<h1>{{wp.postsPage.title}}</h1>
{{wp.postsPage.content|safe}}

{% include 'partials/latestPosts.njk' %}
{% endblock %}