{% extends 'layouts/_base.njk' %}

{% block seo %}
    <!--Twitter Card-->
    <meta name="twitter:title" content="{{wp.postsPage.title}}">
    <meta name="twitter:description" content="{{ wp.postsPage.content|striptags|truncate(196) }}">
    
    <!--Schema-->
    <meta itemprop="name" content="{{wp.postsPage.title}}">
    <meta itemprop="description" content="{{ wp.postsPage.content|striptags|truncate(196) }}">
    
    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{wp.postsPage.title}}">
    <meta property="og:description" content="{{ wp.postsPage.content|striptags|truncate(196) }}">
{% endblock %}

{% block content %}
<h1>{{wp.postsPage.title}}</h1>
{{wp.postsPage.content|safe}}

{% include 'partials/latestPosts.njk' %}
{% endblock %}