{% extends 'layouts/_base.njk' %}
{% set currentPage = post %}


{% block title %}{{post.title}} - Larry Hudson{% endblock %}

{% block featuredImage %}
{% if post.featuredImage.node.sourceUrl %}
{% image post.featuredImage.node.sourceUrl, post.featuredImage.node.altText %}
{% endif %}
{% endblock %}

{% block content %}
<h1 class="accent-underline">{{post.title}}</h1>
<p><em>{{post.date|readableDate}}</em>
<div class="cms-content">
{{post.content|safe}}
</div>
{% endblock %}