body {
    font-size: 1.25rem;
    line-height: 2;
    background: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    max-width: 72ch;
    margin: 0 auto;
    background: white;
    padding: 2rem;
}

.cms-content {
    max-width: 48ch;
}

:focus {
    outline: 2px dashed darkred;
    outline-offset: 4px;
}

/* Typography */
h1, h2 {
    margin-top: 1rem;
    margin-bottom: 0;
}


h1, h2, h3 {
    line-height: 1.5;
}

header {
    margin-bottom: 2rem;
}

main, footer {
    margin-top: 2rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem
}

/* Header */

header h1 {
    margin : 0;
}

/* Navigation */

nav ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

nav ul > * + * {
    margin-left: 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;

    background: white;
    border: 1px solid darkred;
    color: black;
}

nav a[aria-current] {
    background: darkred;
    color: white;
    border: 1px solid transparent;
}

/* Footer */
footer {
    font-size: smaller;

    margin-top: 2rem;
}


footer p {
    margin-top: 0.5rem;
}