

/* Color variables */

/* Dark theme by default */
:root {
    --color-background: rgb(32, 32, 69);
    --color-text:rgb(236, 233, 251);
    --color-border: hsl(250,69.23%,94.9%);
    --color-primary: hsl(18.11,100%,89.61%);
    --color-accent: hsl(16.78,86.83%,52.35%);
    --color-muted: hsl(247.69,66.1%,88.43%);
}
  
@media (prefers-color-scheme: light) {
    :root {
        --color-background: hsl(0,91.3%,95.49%);
        --color-text:hsl(356.13,39.24%,15.49%);
        --color-border: hsl(356.13,39.24%,15.49%);
        --color-primary: hsl(234.23,49.06%,41.57%);
        --color-accent: hsl(234.23,49.06%,41.57%);
        --color-muted: hsl(353.57,45.16%,24.31%);
    }
}

body {
    font-size: 1.25rem;
    line-height: 1.75;
    background: white;
    background: var(--color-background);    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black;
    color: var(--color-text);
}

.container {
    max-width: 72ch;
    margin: 0 auto;
    background: white;
    background: var(--color-background);
    padding: 2rem;
}

.cms-content p,
.cms-content ul {
    max-width: 48ch;
}

:focus {
    outline: 2px dashed darkred;
    outline: 2px dashed var(--color-primary);
    outline-offset: 4px;
}

a {
    color: darkred;
    color: var(--color-text);
}

hr {
    height: 3px;
    background-color: lightgray;
    background-color: var(--color-muted);
    border: none;
}

/* Typography */
h1, h2 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.accent-underline {
    width: max-content;
    max-width: 100%;
}

.accent-underline::after {
    content: '';
    display: block;
    height: 5px;
    background-color: darkred;
    background-color: var(--color-accent);
    margin-top: 0.5rem;
}

h1, h2, h3 {
    line-height: 1.375;
    font-family: Georgia, serif;
}

header {
    margin-bottom: 2rem;
}

.tagline {
    margin: 0.25rem 0;
}

main, footer {
    margin-top: 2rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem
}

/* Header */

header h1 {
    margin : 0;
}

/* Navigation */

nav ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

nav ul > * + * {
    margin-left: 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid darkred;
    border: 1px solid var(--color-primary);
    color: black;
    color: var(--color-primary);
}

nav a[aria-current] {
    background: darkred;
    background: var(--color-primary);
    color: white;
    color: var(--color-background);
    border: 1px solid transparent;
}

/* Footer */
footer {
    font-size: smaller;
    margin-top: 2rem;
}


footer p {
    margin-top: 0.5rem;
}

/* Code blocks */
.cms-content pre {
    max-width: 100%;
    overflow: scroll;
    border: 1px dashed black;
    border: 1px dashed var(--color-border);
    padding: 0.5rem;
    font-size: smaller;
}

.cms-content figure {
    padding: 0;
    margin: 1rem;
    margin-bottom: 1rem;
}

.cms-content img {
    max-width: 100%;
    height: auto;
}

.cms-content figcaption {
    font-size: smaller;
}

/* Latest posts */
.post-list {
    margin-top: 2rem;
}


.post-blurbs {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.post-blurbs > * + * {
    margin-top: 2rem;
}


.post-blurb > * + * {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.post-blurb .date {
    font-size: smaller;
}

.post-blurb h3 {
    margin: 0;
}

@media (min-width: 768px) {
    .featured-image picture {
        float: right;
    }
}

.tag-list {
    display: inline;
    padding: 0 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tag-list li {
    display: inline-block;
    margin: 0.5rem;
}

.tag-list a,
.clear-filter {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid darkred;
    border: 1px solid var(--color-primary);
    color: black;
    color: var(--color-primary);

    border-radius: 999px;
}

.tag-list a[aria-current] {
    background: darkred;
    background: var(--color-primary);
    color: white;
    color: var(--color-background);
}