<h2>Contact me</h2>
<p><a href="mailto:larryhudson@hey.com">Send me an email</a> if you have any questions.
<h2>About this site</h2>
<p>This site was built with Eleventy, WordPress and WPGraphQL, and is hosted by Netlify. You can <a href="/simple-static-wordpress-eleventy
">read more about the site's configuration here</a>. If you're interested, the <a href="https://github.com/larryhudson/personal-site-wp-11ty">source code is available on GitHub</a>.</p>