<nav>
    <ul>
        {% for navItem in navItems %}
        <li><a href="{{navItem.url}}" {% if page.url == navItem.url %}aria-current="page"{% endif %}>{{navItem.label}}</a></li>
        {% endfor %}
    </ul>
</nav>