<section class="post-list">

<h2 class="accent-underline">{% if postsHeading %}{{postsHeading}}{% else %}Latest posts{% endif %}</h2>

<div class="post-blurbs">
{% for post in posts %}
<div class="post-blurb clicky-card">
<h3><a href="{{site.baseURL}}/{{post.slug}}/">{{post.title}}</a></h3>
<p class="date">{{post.date|readableDate}}</p>
<p class="excerpt">{{post.excerpt|striptags|truncate(196)|safe}}
</p>
</div>
{% endfor %}
</div>
</section>